- unless notice.blank?
  %p.notice= notice
- unless alert.blank?
  %p.alert= alert

%div
  - if user_signed_in?
    %p 
      Logged In
      = link_to 'Log Off', destroy_user_session_path, :method => :delete
  - else
    %p= link_to  'Sign In?', new_user_session_path
  %br

%ul
  %li= link_to 'Home', root_path
  |
  %li= link_to 'People', people_path  
  |
  %li= link_to 'Raw Crimes', raw_crimes_path  
  |
  %li= link_to 'OAuth Clients', oauth_applications_path 
